@import '../../styles/utils/_variables';
@import '../../styles/utils/_mixins';

.login {
    height: 100%;

    .form-container {
        border-top-left-radius: $border-radius-large;
        border-top-right-radius: $border-radius-large;
        border-bottom-left-radius: $border-radius-large;
        border-bottom-right-radius: $border-radius-large;
        width: 350px;
        
        @include screen-xs {
            width: 75%;
        }
    }
}
